[submodule "VRCFaceTracking"]
	path = VRCFaceTracking
	url = https://github.com/benaclejames/VRCFaceTracking
[submodule "SimpleRustOSC"]
	path = SimpleRustOSC
	url = https://github.com/benaclejames/SimpleRustOSC
