[submodule "VRCFaceTracking"]
	path = VRCFaceTracking
	url = https://github.com/dfgHiatus/VRCFaceTracking
[submodule "DesktopNotifications"]
	path = DesktopNotifications
	url = https://github.com/dfgHiatus/DesktopNotifications
[submodule "vrc-oscquery-lib"]
	path = vrc-oscquery-lib
	url = https://github.com/vrchat-community/vrc-oscquery-lib
[submodule "UsbSerialForAndroid"]
	path = Babble.Avalonia.Android/UsbSerialForAndroid
	url = https://github.com/anotherlab/UsbSerialForAndroid/
