[submodule "VRCFaceTracking"]
	path = VRCFaceTracking
	url = https://github.com/dfgHiatus/VRCFaceTracking
[submodule "DesktopNotifications"]
	path = DesktopNotifications
	url = https://github.com/dfgHiatus/DesktopNotifications
	